<form class="{{cssClass}}" autocomplete="off">
  {{ log "Critter sheet" this}}

  <div class="npc-firstline">
    <span>Editable <label class="switch">
        <input type="checkbox" data-item-id="{{this.id}}" data-check="data.editmode" {{checked this.system.editmode}}
          type="checkbox" data-dtype="Boolean" />
        <span class="shadowrun6-slider round"></span>
      </label>
    </span>
  </div>
  {{#if system.editmode}}
  {{> "systems/shadowrun6-moxou/templates/parts/critter_full_edit_sheet.html" }}
  {{else}}
  {{> "systems/shadowrun6-moxou/templates/parts/critter_usage_sheet.html" }}
  {{/if}}
</form>
		{{log "End of rendring shadowrun6-Critter-sheet.html"}}
