{{!-- Sheet Header --}}
<header class="sheet-header" style="display: inline-flex; width: 90%">
    <div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" />
    </div>
    <div class="header-fields" style="flex:3">
        <h1><input data-field="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" />
        </h1>
        <div class="npc-settings" style="display:flex">
            {{> "systems/shadowrun6-moxou/templates/parts/npc_edit_critter.html" }}
        </div>
    </div>
</header>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="basics">{{ localize 'shadowrun6.actor.nav.basics' }}</a>
    <a class="item" data-tab="skills">{{ localize 'shadowrun6.actor.nav.skills' }}</a>
    <a class="item" data-tab="combat">{{ localize 'shadowrun6.actor.nav.combat' }}</a>

    {{#if system.morDef.magic}}
    <a class="item" data-tab="magic">{{ localize 'shadowrun6.actor.nav.magic' }}</a>
    {{/if}}

    <a class="item" data-tab="biography">{{ localize 'shadowrun6.actor.nav.biography' }}</a>

</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">

    {{!-- Basics Tab --}}
    <div class="tab basics" data-group="primary" data-tab="basics">
        <div class="attributes" style="margin-bottom: 10px">
            {{> "systems/shadowrun6-moxou/templates/parts/attributes-augmented.html" attributes=system.attributes}}
        </div>
        <div style="column-count: 2; margin-right: 5px;">
            {{> "systems/shadowrun6-moxou/templates/parts/pc-derived.html" attributes=system.attributes}}
            {{> "systems/shadowrun6-moxou/templates/parts/initiatives.html" initiative=system.initiative}}
            {{> "systems/shadowrun6-moxou/templates/parts/section-critterpower.html"}}
        </div>
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/shadowrun6-moxou/templates/parts/pc-skillvalues.html" skills=system.skills}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
        {{> "systems/shadowrun6-moxou/templates/parts/tab-combat.html" }}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
        {{> "systems/shadowrun6-moxou/templates/parts/tab-magic.html" }}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexrow" data-group="primary" data-tab="biography">
        {{> "systems/shadowrun6-moxou/templates/parts/tab-biography.html"}}
    </div>
</section>