{{#if (itemTypeInList actor.items 'spell')}}
<dt>{{ localize 'shadowrun6.actor.spells' }}</dt>
<dd>
      <!-- Spells skills -->
      {{#each (itemsOfType actor.items 'spell') as |item id|}}
      <label class="skill-key rollable spell-roll" data-skill="{{id}}">
            <div class="tooltip">
                  {{item.name}}
                  <div class="right">
                        <div class="text-content">
                              <h3>{{item.name}}</h3>
                              <p>{{{item_description item.system item.type}}}</p>
                        </div>
                        <i></i>
                  </div>
            </div>
      </label>
      <a class="item-control spell-roll" data-item-id="{{item.id}}" title="Roll"><i
                  class="fas fa-dice-six"></i></a>{{#unless @last}},&nbsp;{{/unless}}
      {{/each}}
</dd>
{{/if}}